.genre-detail-container
{
    display: flex;
    /* border: 1px solid #000; */
    justify-content: space-between;
    padding: 2rem;

}
.genre-detail-heading h1
{
    /* border: 1px solid; */
    margin-left: 2rem;
}



.genre-deatils ul
{
    display: flex;
    justify-content: flex-start;
    /* border: 2px solid; */
     gap: 2rem;
     /* margin-right: 15rem; */
   /* justify-content: space-around;   */
    
    }
.genre-deatils ul li
{
    background-color: #8e8e8e26;
    backdrop-filter: blur(10px);
    /*border: 1px solid;
    */border-radius: 10px;
    -webkit-border-radius:10;
    -moz-border-radius:10;
    -ms-border-radius:10;
    -o-border-radius:10;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre-img img
{
    height: 10rem;
    width: 20rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.genre-img .more
{
    /* border: 1px solid #000; */
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 2px;
    */position: fixed;
    top: 70%;
    /*left: 100%;
    */right: 3%;
    border-radius:7px ;
    -webkit-border-radius:7px ;
    -moz-border-radius:7px ;
    -ms-border-radius:7px ;
    -o-border-radius:7px ;
    background-color: #5aba3730;
    backdrop-filter: blur(10px);
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    cursor: pointer;
}

.genre-img .more:hover
{
    color: rgb(103, 235, 103);
}
     