.genre-main-container {

    /* margin: 2rem; */
    /* border: 1px solid; */
    margin-bottom: 10rem;
    
}

.genre-heading {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genre-heading h1 {
    font-size: 2vw;
}

.genre-heading .gen-icon {
    font-size: 2rem;
    font-weight: 27rem;
    cursor: pointer;
}

.genre-list ul a {
     background-color: #8e8e8e26;
    backdrop-filter: blur(10px);
    /*border: 1px solid;
    */border-radius: 10px;
    -webkit-border-radius:10;
    -moz-border-radius:10;
    -ms-border-radius:10;
    -o-border-radius:10;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    width: 10rem;
    margin: 1rem;
    font-size: 1.1rem;
    color: rgb(87, 87, 87);

}
@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.genre-list {
  animation: slideDownFade 0.4s ease forwards;
}


