.navbar-main-container {

    /* padding: 1rem !important  ; */
    position: sticky;
    bottom: 0%;
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box !important;


}





.search-container button {
    border: none !important;
}




.bottom-navbar {



    backdrop-filter: blur(10px) !important;
    width: 100%;
}

.nav-main-container {
    margin-top: auto;
    /* Pushes the navbar to the bottom */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* Ensure content doesn't hide behind navbar */
body {
    padding-bottom: 60px;
    /* Adjust based on your navbar height */
}


.brand {
    font-size: 2vw !important;
    font-weight: 600;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */

}

.nav-items {
    /* border: 1px solid; */
    position: relative;
    /* left: 5%; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* Responsive adjustments */
@media (max-width: 760px) {



    .brand {
        font-size: 4vw !important;
    }

    .bottom-navbar {
        padding: 0.5rem 0;
    }

    body {
        padding-bottom: 80px;
        /* More space for collapsed navbar */
    }
}